* {
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.content {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
